# coordinate columns

In [2]:
# Import Modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
# import DataFarme
df = pd.read_csv("https://raw.githubusercontent.com/Immobilienrechner-Challenge/data/main/immoscout_cleaned_lat_lon_fixed_v9.csv", usecols = ['lat', 'lon', 'Latitude', 'Longitude'])

# display DataFrame
df.head(2)

       lat     lon   Latitude  Longitude
0  47.4171  8.0856  47.415927    8.08584
1  47.4195  8.0827  47.415927    8.08584

In [16]:
# get number of isnull values
df.isnull().sum()

lat          17
lon          17
Latitude      0
Longitude     0
dtype: int64

In [28]:
# get all rows with isnull values
df[df.isnull().any(axis=1)]

       lat  lon   Latitude  Longitude
3874   NaN  NaN  47.483776   8.766671
4096   NaN  NaN  47.483776   8.766671
4097   NaN  NaN  47.483776   8.766671
4098   NaN  NaN  47.483776   8.766671
4226   NaN  NaN  47.483776   8.766671
4229   NaN  NaN  47.483776   8.766671
4232   NaN  NaN  47.483776   8.766671
4235   NaN  NaN  47.483776   8.766671
10234  NaN  NaN  47.483776   8.766671
10237  NaN  NaN  47.483776   8.766671
10240  NaN  NaN  47.483776   8.766671
10243  NaN  NaN  47.483776   8.766671
10249  NaN  NaN  47.483776   8.766671
10255  NaN  NaN  47.483776   8.766671
10267  NaN  NaN  47.483776   8.766671
10270  NaN  NaN  47.483776   8.766671
10281  NaN  NaN  47.483776   8.766671

# drop lat and lon
drop incomplete lat and lon cols

use instead Latitude and Longitude